
<form method="post" action="{% url 'home' %}" id="myForm">
    {% csrf_token %}

    <!-- This is progress bar -->
    <div class="progress-bar-container">
      <div class="progress-bar progress-bar-striped" style="display: none;">
        <div class="progress" role="progressbar">
          <div class="progress-fill progress-bar-animated" style="width: 100%">
            <b style="font-size:16px;">Understanding your question ...</b>
          </div>
        </div>
      </div>
    </div>

    <!-- This is input text and submit button -->
    <div class="form-txt-btn" >
        <input type="text" id="myInput" class="form-control" name="question" placeholder="Ask your question here..." >
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div style="padding-left:8px;">
        {% include "tswitch_cbox.html" %}
    </div>
</form>

