{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="card-header">
    Hi there!, Welcome to Eon Chat App :)
  </div><br/></br></br>

  <div class="card-body" id="cardBody" style="max-height: 600px; overflow-y: scroll; scroll-behavior: smooth;" >

    {% for message in conversation_history %}
      {% if forloop.counter|divisibleby:2 %}
        <pre>{{ message }}</pre><hr>
      {% else %}
        <p> {{ message }}</p>
      {% endif %}
    {% endfor %}

  </div>
</div>
<br/><br/>
{% include "form.html" %}
<br/>

{% endblock content %}

