
{% load static %}


<div class="t-symbol">
  <div class="horizontal-bar">
    <img src="{% static 'images/imgtop.png' %}" alt="eonpage-top image" style="max-width: 350vw; max-height: 350vh;">
    <img src="{% static 'images/org-logo.png' %}" alt="eonpage-top image" style="max-width: 350vw; max-height: 350vh;">
    <img src="{% static 'images/imgbottom.png' %}" alt="eonpage-top image" style="max-width: 350vw; max-height: 350vh;">
  </div>
  <div class="vertical-bar">
    <img src="{% static 'images/imgright.png' %}" alt="eonpage-top image" style="max-width: 350vw; max-height: 350vh;">
  </div>
</div>

