<div class="form-switch-check">
    <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">This EON AI Bot is supplimented with Phoenix Greens School specific data including Syllabus and Academic Data. You can switch if you wish to disconnect.</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="myCheckbox" checked required >
        <label class="form-check-label" for="myCheckbox">
        Selected button means accepting our <a class="check-terms-cond" href="#">terms and conditions </a>
        </label>
    </div>
</div>


