# Default ignored files
/shelf/
/workspace.xml

#Ignores the db.sqlite3 file in the root of your project.
db.sqlite3 
settings.py
venv
.env

__pycache__/*
eonbot/__pycache__/*
eonchatapp/__pycache__/*
eonbot/migrations/__pycache__/*

