.card {
    width: 95%; /* Adjust width as needed */
    max-width: 1000px; /* Set a maximum width */
    margin: 0 auto; /* Center the card horizontally */
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card-header {
    height: auto; /* Allow the header height to adjust based on content */
    display: flex;
    align-items: center;
    padding: 10px;
}

.card-header-img {
    max-width: 20%; /* Adjust the maximum width of the logo image */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header-msg {
    margin-left: 15px;
}

.card-header-p1,
.card-header-p2 {
    margin: 0;
}

.card-body {
    padding: 15px;
}

.form-div {
    margin-top: 20px;
    padding: 15px;
}
