
#myForm{
    max-width:900px;
    display:flex;
    flex-direction:column;
}

.form-txt-btn{
    padding:10px;
}


.form-control, .btn {

  /* Add any styles you need for the input text and button */
}

.text-area{
    max-height:100px;
}

.btn {
    margin:5px;
    float:right;
    /*margin-left:5px;*/
}