
#myForm{
    max-width:900px;
    display:flex;
    flex-direction:column;
}

.flex-container {
    display: flex;
    justify-content: center;
}

.flex-item {
    flex: 1;
    margin: 10px;
}

.form-txt-btn{
    padding:10px;
}

.text-area{
    max-height:100px;
}

.btn {
    margin:5px;
    float:right;
    /*margin-left:5px;*/
}

