.sticky-navbar, .navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white; /* Set the background to transparent */
    border: none; /* Remove any border */
    box-shadow: none; /* Remove any box shadow */
}


#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:750px;
}

#dropdown-anchor{
    font-size: 18px; /* Adjust the font size to your preference */
}

/* Add custom CSS to position the dropdown to the right */
#dropdown {
   
    float:right;
}

/* Adjust the width and other styles of the dropdown menu */
.dropdown-menu {
    width:250px;
    height:auto;
}
